.box_date {
    /* margin: 0 !important; */
}

.flag_img {
    height: 2rem;
    width: 10rem;
}

.box_head {
    max-height: 2rem;
    padding-right: 0;
    padding-left: 0;
}

#table-second {
    background-color:aqua  !important;
    width: 50% !important;
}